<mat-card>
  <mat-card-title>Employees</mat-card-title>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="birthday">
          <th mat-header-cell *matHeaderCellDef>Birthday</th>
          <td mat-cell *matCellDef="let element">
            {{ element.birthday | date }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    <app-fab [link]="createLink"></app-fab>

    </div>
  </mat-card-content>
</mat-card>
